{% extends 'base.html' %}
{% block title %} Resgistrar BileuApp {% endblock %}

{% load bootstrap5 %}
{% block content %}


<div class="card" style="width: 20rem;">
  <h5 class="card-header">Registar</h5>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> -->
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}">
      {% bootstrap_form form %}
      <button class="btn btn-primary" type="submit">Registrar</button>
    </form>
    <p> <a href="https://getbootstrap.com/accounts/login"> ja teno uma conta</a></p>
  </div>
</div>


{% endblock %}