{% extends 'base.html' %}
{% block title %} Tarefa: {% endblock %}

{% block content %}
{% load humanize %}
<div class="p-5 mb-2 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">{{ task.title }}</h1>
    <p class="col-md-9 fs-4">{{ task.descripition }}</p>
    <!-- <button class="btn btn-primary btn-lg" type="button">Example button</button> -->
    <small>{{ task.update_at|naturaltime }}</small>

    <br>
    <a class="text-decoration-none" href="/edittask/{{ task.id }}">Editar Tarefa </a>
    <a class="text-decoration-none" href="/delete/{{ task.id }}">| Deletar Tarefa</a>

  </div>
</div>
{% endblock %}